<br />
<div><%= link_to '収入・支出入力', new_money_path %></div>
<br />

<%= link_to '統計', statistics_circle_graph_path %>
<%= link_to 'カテゴリー', categories_path %>
<%= link_to 'ファミリー', families_path %>
<%= link_to 'ゴール', goals_path %>