<%= form_for(@money) do |f| %>
  <% if @money.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@money.errors.count, "error") %> prohibited this money from being saved:</h2>

      <ul>
      <% @money.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kbn %><br>
    <%= f.select :kbn, ["収入","支出"] %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :family_id %><br>
    <%= f.collection_select :family_id, Family.where(session[:usr]), :id, :familyname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
