<p id="notice"><%= notice %></p>

<p>
  <strong>Kbn:</strong>
  <%= @money.kbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @money.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @money.date %>
</p>

<p>
  <strong>Family:</strong>
  <%= @money.family_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @money.category_id %>
</p>

<%= link_to 'Edit', edit_money_path(@money) %> |
<%= link_to 'Back', money_index_path %>
