<!DOCTYPE html>
<html>
<head>
  <title>ManeMane</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
</head>
<body>
<header>
	<% if session[:usr] %>
	  <div align="right"><%= session[:usr] %>さん　<%= link_to 'ログアウト', login_index_path %></div>
	  <div><%= link_to 'HOME', root_path %></div>
	<% else %>
	  <%= link_to 'ログイン画面', login_index_path %>
	<% end %>
</header>
<%= yield %>

</body>
</html>
